@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Poppins:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
}
input:focus-visible{
    outline: 0;
}
.main{
    background-color: #3498db;
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* margin-left: 40px; */
    padding-right: 130px;
    padding-left: 40px;
    padding-top: 30px;
}
.box{
    min-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rbg(0 0 0 /50%);
    background-color: #2980b9;
    border: 2px;
    margin-top: 10px;
}
#pass-box{
    width: 100%;
    display: block;
    background-color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;

}
.row{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content:space-between;
    color: white;
    font-size: 20px;
}
label{
    user-select: none;
}
#btn{
    width:100%;
    font-size:20px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #34495e;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
}











